<form [formGroup]="currentCourseForm">
  <label>
    Title
    <div *ngIf="currentCourseForm.controls.name.errors" class="error">
      <div *ngIf="currentCourseForm.controls.name.errors.required">
        required
      </div>
      <div *ngIf="currentCourseForm.controls.name.errors.maxlength">
        max length is 50 symbols
      </div>
    </div>
    <input formControlName="name" type="text" placeholder="Title">
  </label>
  <label>
    Description
    <div *ngIf="currentCourseForm.controls.description.errors" class="error">
      <div *ngIf="currentCourseForm.controls.description.errors.required">
        required
      </div>
      <div *ngIf="currentCourseForm.controls.description.errors.maxlength">
        max length is 500 symbols
      </div>
    </div>
    <textarea class="description" formControlName="description" placeholder="Description"></textarea>
  </label>
  <label>
    Date
    <div *ngIf="currentCourseForm.controls.date.errors" class="error">
      <div *ngIf="currentCourseForm.controls.date.errors.required">
        required
      </div>
      <div *ngIf="currentCourseForm.controls.date.errors.dateFormat">
        {{currentCourseForm.controls.date.errors.dateFormat}}
      </div>
    </div>
    <input formControlName="date" type="text" placeholder="Date">
  </label>
  <label>
    Duration
    <div *ngIf="currentCourseForm.controls.length.errors" class="error">
      <div *ngIf="currentCourseForm.controls.length.errors.required">
        required
      </div>
      <div *ngIf="currentCourseForm.controls.length.errors.numberFormat">
        {{currentCourseForm.controls.length.errors.numberFormat}}
      </div>
    </div>
    <input formControlName="length" type="text" placeholder="Duration">
  </label>
  <label>
    is Top rated?
    <input formControlName="isTopRated" type="checkbox">
  </label>
  <div class="actionButtons">
    <button [disabled]="currentCourseForm.invalid" (click)="onUpdateCourse()">Save</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</form>
