<form [formGroup]="currentCourseForm">
  <label>
    Title
    <input formControlName="name" type="text" placeholder="Title">
    <span *ngIf="currentCourseForm.controls.name.invalid && currentCourseForm.controls.name.touched" class="error"></span>
  </label>
  <label>
    Description
    <textarea class="description" formControlName="description" placeholder="Description"></textarea>
  </label>
  <label>
    Date
    <input formControlName="date" type="text" placeholder="Date">
  </label>
  <label>
    Duration
    <input formControlName="length" type="number" placeholder="Duration">
  </label>
  <label>
    is Top rated?
    <input formControlName="isTopRated" type="checkbox">
  </label>
  <div class="actionButtons">
    <button (click)="onUpdateCourse()">Save</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</form>
