<div class="wrapper">
  <div class="info">
    <div class="header">
      <div class="title">{{data.title | uppercase}}
        <span [ngClass]="{topRated: data.topRated}">&#9733;</span>
      </div>
      <div class="duration">{{data.duration | duration}}</div>
      <div class="creationDate">{{data.creationDate | date:'dd.MM.yyyy'}}</div>
    </div>
    <div class="description">{{data.description}}</div>
  </div>
  <div class="actions">
    <button (click)="onEditCourse(data.id)" class="btn btn-warning">Edit</button>
    <button (click)="onDeleteCourse(data.id)" class="btn btn-danger">Delete</button>
  </div>
</div>
