:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin: 10px 0;
}

.courseListContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.searchHeader {
  display: flex;
  flex-shrink: 0;
  margin: 10px 0;
}

.left {
  display: flex;
  flex-grow: 1;
}

.searchInput {
  width: 40%;
}

.loadMoreButton {
  flex-shrink: 0;
}
