<div class="searchHeader">
  <div class="left">
    <input [(ngModel)]="findInputValue"
      class="form-control searchInput"
      type="text"
      placeholder="name, fragment or date">
    <button (click)="findCourse()" class="btn btn-secondary searchButton">Search</button>
  </div>
  <a routerLink='courses/new' class="btn btn-primary">Add Course</a>
</div>
<div class="courseListContainer">
  <app-course-details
    *ngFor="let course of (courseList | orderBy)"
    (editCourse)=handleEditCourse($event)
    (deleteCourse)=handleDeleteCourse($event)
    [data]="course"
    [appCustomBorder]="course.creationDate">
  </app-course-details>
</div>
<div class="emptyContainer" *ngIf="!courseList.length">
  No data! Feel free to add new course.
</div>
<button (click)="loadMoreCourses()" class="loadMoreButton btn btn-light">Load More</button>
