:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.searchHeader {
  display: flex;
}

.left {
  display: flex;
  flex-grow: 1;
}

.searchInput {
  width: 40%;
}

.searchButton {
  margin-left: 10px;
}
