<label>
  Title
  <input [(ngModel)]="model.name" type="text" placeholder="name">
</label>
<label>
  Description
  <textarea [(ngModel)]="model.description" placeholder="Description"></textarea>
</label>
<label>
  Date
  <input [(ngModel)]="model.date" type="text" placeholder="Date">
</label>
<label>
  Duration
  <input [(ngModel)]="model.length" type="text" placeholder="Length">
</label>
<div class="actionButtons">
  <button (click)="onAddNewCourse()">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>
