<label>
  Title
  <input [(ngModel)]="title" type="text" placeholder="Title">
</label>
<label>
  Description
  <textarea [(ngModel)]="description" placeholder="Description"></textarea>
</label>
<label>
  Date
  <input [(ngModel)]="date" type="text" placeholder="Date">
</label>
<label>
  Duration
  <input [(ngModel)]="duration" type="text" placeholder="Duration">
</label>
<div class="actionButtons">
  <button (click)="onAddNewCourse()">Save</button>
  <button (click)="onCancel()">Cancel</button>
</div>
